.player{
    text-align: center;
    margin-top: 60px;
  }
  
  .player div{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .player .player__backward button, .player .player__forward button{
    background: transparent;
    color: white;
    width: 75px;
    height: 75px;
    font-size: 35px;
    outline: none;
  }
  
  .player .player__backward button{
    border: none;
  }
  
  .player .player__forward button{
    border: none;
  }
  
  .player .player__main button:hover, .player .player__backward button:hover, .player .player__forward button:hover{
    border: 1px solid white;
    border-radius: 50%;
    transition: 20ms;
  }
  

  
  .player .player__main button {
    color: white;
    background: transparent;
    width: 75px;
    height: 75px;
    border: none;
    font-size: 35px;
    outline: none;
  }