<div class="main">
  <header>
    <div class="search-container">
      <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input type="text" #searchInput class="search-box" name="search" placeholder="search">
      
    </div>
    <div class="browse-content">
      <h1 class="cat-title">Browse</h1>
        <nav class="browse-nav">
          <ul>
            <li>
              <a [routerLink]="['/dashboard', {outlets: {'browse': ['genre']}}]" routerLinkActive="active">
                Genres
              </a>
            </li>
            <li>
              <a [routerLink]="['/dashboard', {outlets: {'browse': ['charts']}}]" routerLinkActive="active">
                Charts
              </a>
            </li>
            <li>
              <a [routerLink]="['/dashboard', {outlets: {'browse': ['discover']}}]" routerLinkActive="active">
                Discover
              </a>
            </li>
            <li>New Releases</li>
          </ul>
        </nav>
    </div>
  </header>
  <div class="content" [style.display]="searchState?'block':'none'">
    <div class="search-results">
      <div class="music">
        <h3>Music</h3>
        <div class="result-container" *ngFor="let song of songs" (click)="selectSong(song)">
          <div class="image-container" [style.background]="'url(' + song.album.albumArt+ ')'"></div>
          <div class="result-content">
            <h3>{{song.title}}</h3>
            <h5>{{song.album.artist.username}}</h5>
          </div>
        </div>
      </div>
      <div class="albums">
          <h3>Albums</h3>
          <div class="result-container" *ngFor="let album of albums" (click)="selectAlbum(album)">
            <div class="image-container" [style.background]="'url(' + album.albumArt+ ')'"></div>
            <div class="result-content">
              <h3>{{album.title}}</h3>
              <h5>{{album.artist.username}}</h5>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="content" [style.display]="!searchState?'block':'none'">
      <router-outlet name="browse"></router-outlet>
  </div>
</div>
