@import '~app/sass/variables';
@import '~app/sass/fonts';
 
 .discover-card-parent{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .discover-card {
        flex: 1 0 250px;
        display: flex;
        justify-content: center;
        margin: 1em 0.5em;
        .discover {
            height: 150px;
            width: 150px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
            background: black;
            color: white;
            opacity: 0.7;
            display: flex;
            flex-direction: column;
            font-family: "Open Sans", sans-serif;
            padding: 10px;
            align-items: center;
            transition: 0.2s ease-in;
            box-sizing: initial;
            .discover-image{
                width: 100px;
                filter: invert(100%);
            }
            &:hover {
                background: white;
                opacity: 1;
                color: black;
                .discover-image{
                    filter: invert(0);
                }
            }
        }

        @media #{$normal} {
            flex: 1 0 100px;
            max-height: 150px;
            .discover-image {
                width: 150px;
            }
        }
    }
}