<div class="container">
  <app-music-details [title]="isLoading?currentMusic.title:''" 
                      [albumTitle]="!isLoading?currentMusic.album.title:''"
                      [artistName]="!isLoading?currentMusic.album.artist.username:''"
                      [coverArt]="!isLoading?currentMusic.album.albumArt:''">

  </app-music-details>
  <div class="bottom-fixed">
    <app-music-progress [position]="position" 
                      [elapsed]="elapsed"
                      [duration]="duration"
                      (updatePosition)="handleUpdatePosition($event)">

  </app-music-progress>
  <app-music-control [paused]="isPaused" (pause)="pause()">

  </app-music-control>
  </div>
  
</div>