<app-main-nav></app-main-nav>
<div class="container">
	<div class="login-container">
		<div class="form-text">
			<h1>Hello There</h1>
			<p>Wecome back.</p>
			<p>Login to check out new songs, upload and earn.</p>
		</div>
		<form [formGroup]="form" (ngSubmit)="login()">
			<small *ngIf="error">
				Username or password is incorrect
			</small>
			<div class="input-group">
				<input type="text" name="username" [formControl]="formControl.username" placeholder="Username">
				<small *ngIf="formControl.username.touched && (!formControl.username.valid)">
					username is required
				</small>
			</div>
			<div class="input-group">
				<input type="password" name="password" [formControl]="formControl.password" placeholder="Password">
				<small *ngIf="formControl.password.touched && (!formControl.password.valid)">
					Password is required
				</small>
			</div>
	
			<button type="submit" name="button" [disabled]="!form.valid">Login</button>
		</form>
		<p>Don't have an account? <a [routerLink]="['/signup']">Signup now!</a></p>
	</div>
</div>