<div class="container">
  <div class="album_container">
    <div class="album_image">
      <span class="far fa-play-circle"></span>
      <img class="album_art" src="http://www.rap-up.com/app/uploads/2016/06/dj-khaled-major-key-cover.jpg" alt={{album_name}}>
    </div>
    <div class="album_text">
      <h1>{{album_name}}</h1>
      <p>by
        <a href="/profile">{{album_artist}}</a>
      </p>
      <p>August 5, 2015</p>
    </div>
  </div>
  <div class="album_songs">
    <ol>
      <li *ngFor="let song of album_songs">
        {{ song }}
      </li>
    </ol>
  </div>
</div>