<app-nav></app-nav>
<div class="profile-parent">
  <div class="profile">
    <div class="profile-image" [ngStyle]="{'background-image':'url('+ artist_img_url +')'}"></div>
    <div class="title">
      <h1>{{artist_name}}</h1>  
      <!-- <button class="button-black">follow</button> -->
    </div>

  </div>
  <div class="main">
    <div class="songs">
      <h2>Top Songs</h2>
      <ol>
        <li *ngFor="let song of top_songs">
          {{ song }}
        </li>
      </ol>
    </div>
    <div class="albums">
      <h2>Albums</h2>
      <ul>
        <li>
          <div class="album_item">
            <img src="https://goo.gl/e7kCjZ" alt="">
            <p>Grateful</p>
          </div>
        </li>
        <li>
          <div class="album_item">
            <img src="https://goo.gl/e7kCjZ" alt="">
            <p>Major Key</p>
          </div>

        </li>
        <li>
          <div class="album_item">
            <img src="https://goo.gl/e7kCjZ" alt="">
            <p>I Changed a Lot</p>
          </div>

        </li>
        <li>
          <div class="album_item">
            <img src="https://goo.gl/e7kCjZ" alt="">
            <p>Suffering from Success</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>