<app-nav></app-nav>
<div class="profile-parent">
  <div class="profile">
    <div class="profile-image" [ngStyle]="{'background-image':'url('+ cover_image +')'}"></div>
    <div class="title">
      <h1>{{artist_name}}</h1>
      <h3>Followers: 69</h3>
      <button class="button">follow</button>
    </div>

  </div>
  <div class="main">
    <div class="songs">
      <h2>Top Songs</h2>
      <ol>
        <li *ngFor="let song of top_songs">
          <a [routerLink]="['/player', song.id]">{{ song.title }}</a>
        </li>
      </ol>
    </div>
    <div class="albums">
      <h2>Albums</h2>
      <ul>
        <li *ngFor="let album of albums"> 
          <div class="album_item">
            <img src="{{album.albumArt}}" alt="{{album.title}}">
            <br>
            <a [routerLink]="['/album', album.id]">{{album.title}}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>