nav {
    padding: 4em;
}

.main {
    position: absolute;
    top: 0;
    left: 20%;
}

.secondary {
    position: absolute;
    top: 0;
    left: 60%;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 0 2em;
}

.secondary a {
    background-color: rgba(215, 15, 233, 0.842);
    padding: 0.5em 1.2em;
    font-weight: bolder;
}



.nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    height: 70px;
    line-height: 70px;
    width: 100%;
    font-family: "Raleway";
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: white;
}
#toggle {
    display: none;
}



section {
    padding: 2em;
    font-family: "Raleway";
    color: white;
    text-align: center;
}

.icon {
    height: 80px;
}

.icon .icon-content {
    font-size: 4em;
}

@media only screen and (max-width: 768px) {
    .hero-text h1 {
        font-size: 4em;
    }
    
    .hero-text p {
        font-size: 1.2em;
    }

    .hero-link a {
        font-size: 4em;
    }

    #section2 .section-text h1{
        font-size: 4em;
    }


    label {
        display: block;
        cursor: pointer;
        font-size: 2.5em;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: black;
    }
    .menu a {
        display: block;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }

    
}
