@import '~app/sass/variables';

.controls {
    font-size: 2em;
    text-align: center;
    color: white;
    width: 100vw;
}

.controls span {
    text-align: center;
    margin:0 2em;
    @media #{$phone} {
        margin: 0 0.7em;
    }
}
