@import '~app/sass/variables';

.progress{
    text-align: center;
    color: black;
    margin: 2em 0 ;
  }
  
  .progress progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
  
    width: 70vw;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .progress progress[value]::-webkit-progress-bar {
    background-color: rgb(75, 74, 74);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  
  .progress progress[value]::-webkit-progress-value {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  .progress:hover progress[value]::-webkit-progress-value {
    background-color: rgb(148, 20, 207);
  }
  

  span {
    color:white;
    font-size: 0.7em;
  }