<app-main-nav></app-main-nav>
<div class="container">
  <div class="login-container">
    <div class="form-text">
        <h1>Sign Up</h1>
        <p>Indieverse is the best platform for the indies to rise and shine.</p>
        <p>No signup fee! Get started now.</p>
    </div>
  <form [formGroup]="form" (ngSubmit)="signup()">
    <small *ngIf="error">
      Username or password is incorrect
    </small>
    <div class="input-group">
      <input type="text" name="username"
      [formControl]="formControl.firstname" placeholder="Firstname">
      <small *ngIf="formControl.lastname.touched && (!formControl.lastname.valid)">
        FirstName is required
      </small>
    </div>
    <div class="input-group">
      <input type="text" name="lastname"
      [formControl]="formControl.lastname" placeholder="Lastname">
      <small *ngIf="formControl.firstname.touched && (!formControl.firstname.valid)">
        LastName is required
      </small>
    </div>
  
    <div class="input-group">
      <input type="text" name="description"
      [formControl]="formControl.description" placeholder="Description">
    </div>
    <div class="input-group">
      <input type="text" name="username"
      [formControl]="formControl.username" placeholder="Username">
      <small *ngIf="formControl.username.touched && (formControl.username.errors)">
        <span *ngIf="(formControl.username.errors.required)">
          Username is required
        </span>
        <span *ngIf="(formControl.username.errors.usernameExists)">
          Username is already taken
        </span>
      </small>
    </div>
    <div class="input-group">
      <input type="password" name="password"
      [formControl]="formControl.password" placeholder="Password">
      <small *ngIf="formControl.password.touched && (!formControl.password.valid)">
        Password is required
      </small>
    </div>
    <div class="input-group">
      <input type="password" name="confirmPassword"
      [formControl]="formControl.confirmPassword" placeholder="Confirm Password">
      <small *ngIf="formControl.confirmPassword.touched && (form.errors) && (form.errors.mismatchedPasswords)">
        Passwords do not match
      </small>
    </div>
    <div class="input-group">
      <input type="text" name="email"
      [formControl]="formControl.email" placeholder="Email">
      <small *ngIf="formControl.email.touched && (formControl.email.errors)">
        <span *ngIf="(formControl.email.errors.required)">
          Email is required
        </span>
        <span *ngIf="(formControl.email.errors.emailExists)">
          Email is already taken
        </span>
      </small>
    </div>
    <div class="input-group">
      <label for="profileImage">Profile Image</label>
      <input type="file" #profileImage name="profileImage">
    </div>
    <div class="input-group">
      <label for="coverImage">Cover Image</label>
      <input type="file" #coverImage name="coverImage">
    </div>
	<button type="submit" name="button" [disabled]="!form.valid">Submit</button>
  </form>
  </div>
</div>