<div class="container">
  <h2>Signup</h2>
  <form [formGroup]="form" (ngSubmit)="signup()">
    <small *ngIf="error">
      Username or password is incorrect
    </small>
    <div class="input-group">
      <label for="username">Firstname</label>
      <input type="text" name="username"
      [formControl]="formControl.firstname">
      <small *ngIf="formControl.lastname.touched && (!formControl.lastname.valid)">
        FirstName is required
      </small>
    </div>
    <div class="input-group">
      <label for="lastname">Lastname</label>
      <input type="text" name="lastname"
      [formControl]="formControl.lastname">
      <small *ngIf="formControl.firstname.touched && (!formControl.firstname.valid)">
        LastName is required
      </small>
    </div>
  
    <div class="input-group">
      <label for="description">Description</label>
      <input type="text" name="description"
      [formControl]="formControl.description">
    </div>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" name="username"
      [formControl]="formControl.username">
      <small *ngIf="formControl.username.touched && (formControl.username.errors)">
        <span *ngIf="(formControl.username.errors.required)">
          Username is required
        </span>
        <span *ngIf="(formControl.username.errors.usernameExists)">
          Username is already taken
        </span>
      </small>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" name="password"
      [formControl]="formControl.password">
      <small *ngIf="formControl.password.touched && (!formControl.password.valid)">
        Password is required
      </small>
    </div>
    <div class="input-group">
      <label for="password">Confirm password</label>
      <input type="password" name="confirmPassword"
      [formControl]="formControl.confirmPassword">
      <small *ngIf="formControl.confirmPassword.touched && (form.errors) && (form.errors.mismatchedPasswords)">
        Passwords do not match
      </small>
    </div>
    <div class="input-group">
      <label for="password">Email</label>
      <input type="text" name="email"
      [formControl]="formControl.email">
      <small *ngIf="formControl.email.touched && (formControl.email.errors)">
        <span *ngIf="(formControl.email.errors.required)">
          Email is required
        </span>
        <span *ngIf="(formControl.email.errors.emailExists)">
          Email is already taken
        </span>
      </small>
    </div>
    <div class="input-group">
      <label for="profileImage">Profile Image</label>
      <input type="file" #profileImage name="profileImage">
    </div>
    <div class="input-group">
      <label for="coverImage">Cover Image</label>
      <input type="file" #coverImage name="coverImage">
    </div>
	<button type="submit" name="button">Submit</button>
  </form>
</div>