@import '~app/sass/variables';

.text {
    flex: 2;
    margin: 1em;
    text-align: center;
    color: white;
}

h1,h2,h3 {
    margin:0;
}

h3 {
    font-weight: normal;
}

.artwork {
    display: flex;
    justify-content: center;
}

.artwork img {
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 5px rgba(15, 15, 15, 0.411);
    border-radius: 10%;
     
}