<div class="container">
  <div class="login-container">
    <div class="form-text">
        <h1>Upload New Album</h1>
        <p>Gooj job! you are now taking your baby steps towards success.</p>
        <p>Good Luck.</p>
    </div>
  <form [formGroup]="form" (ngSubmit)="uploadAlbum()">
    <small *ngIf="error">
      Username or password is incorrect
    </small>
    <div class="input-group">
      <input type="text" name="title"
      [formControl]="formControl.title" placeholder="Title">
      <small *ngIf="formControl.title.touched && (!formControl.title.valid)">
        Title is required
      </small>
    </div>
    <div class="input-group">
      <input type="text" name="description"
      [formControl]="formControl.description" placeholder="Description">
    </div>
    <div class="input-group">
      <input type="date" name="date"
      [formControl]="formControl.date" placeholder="Title">
      <small *ngIf="formControl.date.touched && (!formControl.date.valid)">
        Date is required
      </small>
    </div>
    <div class="input-group">
      <select [formControl]="formControl.userId">
        <option value="">Artist of this album</option>
        <option *ngFor="let user of users" value="{{user.id}}">{{user.username}}</option>
      </select>
      <small *ngIf="formControl.userId.touched && (!formControl.userId.valid)">
        Please select an artist
      </small>
    </div>
    <div class="input-group">
      <label for="albumArt">Album Art</label>
      <input type="file" #albumArt name="albumArt">
    </div>
    
	<button type="submit" name="button">Submit</button>
  </form>
  </div>
</div>