<div class="hero">
  <div class="hero-image"></div>
  <div class="nav">
    <label for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle" />
    <div class="menu">
      <a href="">home</a>
      <a href="#">About</a>
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
    </div>
  </div>
  <div class="hero-text">
    <h1>Indieverse</h1>
    <p>For the Indie Creators.</p>
  </div>
  <div class="hero-link" title="know more">
    <a href="#section1">
      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
    </a>
  </div>
</div>

<section id="section1">
  <h1>A platform built for upcoming Musicians like you!</h1>
</section>

<section id="section2">
  <h1>A stage to express your talent</h1>
  <p>Publish your music for the millions of users to hear and in turn in turn increase your fanbase.
  </p>
</section>

<section id="section3">
  <h1>A meaningful revenue stream</h1>
  <p>Users can pay a revenue of their choice so that you can continue publishing your awesome work.
  </p>
</section>

<section id="section4">
  <h1>A place without noise</h1>
  <p>No adverts will be bothering you while you enjoy the music experience of your 
    favourite artists.
  </p>
</section>

<section id="section5">
    <h1>A podium without restrictions</h1>
    <p>Stream limitless amount of music from yours favourite artists without any restrictions.
    </p>
  </section>

<section id=section6>
  <h1>Build a profile</h1>
  <p>With a page that enlists your descpription and your current songs, you can attract those adorable crawlers.</p>
  <blockquote>Music is at this weird intersection of dance music &amp; indie music . It's not quite dancy enough to do a full blown DJ
    set, and it wasn't quite rock enough for rock band.
  </blockquote>
</section>

<footer>
  <p>&copy; 2018 Indieverse</p>
</footer>