<div class="hero">
  <div class="hero-image"></div>
  <div class="nav">
    <label for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle" />
    <div class="menu">
      <a href="#">About</a>
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
    </div>
  </div>
  <div class="hero-text">
    <h1>Indieverse</h1>
    <p>For the Indie Creators.</p>
  </div>
  <div class="hero-link" title="know more">
    <a href="#section1">
      <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
    </a>
  </div>
</div>

<section id="section1">
  <div class="container">
    <h1>A platform built for upcoming Musicians like you!</h1>
  </div>
</section>

<section>
  <h1>A podium without restrictions</h1>
  <p>Stream limitless amount of music from yours favourite artists without any restrictions.
  </p>
</section>

<section>
  <h1>Build a profile</h1>
  <p>With a page that enlists your descpription and your current songs, you can attract those adorable crawlers.</p>
</section>

<footer>
  <p>&copy; 2018</p>
</footer>